<div class="col-md-4 blog-main box text-center" id="student_<%= student.id %>">

            <div class="panel panel-info"><!-- Panel Info -->

                <div class="panel-heading">
                    <h3 class="panel-title"><%= student.first_name + '' + student.last_name %></h3>
                </div>

                <div class="panel-body">
                    <div>
                        <%= student.age %> |  
                        <%= student.phone %> |
                        <%= student.email %>
                    </div>
                    <br>
                    <div class="btn-group" role="group" aria-label="...">
                        
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myupdatestudent_<%= student.id %>">
                        Edit
                        </button>
                        <%= link_to 'Destroy', student, method: :delete, class: "btn btn-danger", remote: true %>
                    </div>
                </div><!-- Panel Body -->

            </div>





    <%= form_for(student, :method => :put, remote: true) do |form|%>   
        <% if student.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

                <ul>
                    <% student.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="modal fade" id="myupdatestudent_<%= student.id%>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                
                        <div class="field form-group">
                        <%= form.text_field :first_name, class:"form-control", placeholder: "First Name" %>
                        </div>

                        <div class="field form-group">
                            <%= form.text_field :last_name, class:"form-control", placeholder: "Last Name" %>
                        </div>

                        <div class="field form-group">
                            <%= form.text_field :age, class:"form-control", placeholder: "Age" %>
                        </div>

                        <div class="field form-group">
                            <%= form.text_field :phone, class:"form-control", placeholder: "Phone" %>
                        </div>

                        <div class="field form-group">
                            <%= form.text_field :email, class:"form-control", placeholder: "Email" %>
                        </div>        
            
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= submit_tag "Update", class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    <%end%>
</div>